{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}


<div class="example-wrapper">
    <h1>blog</h1>
{# HomeController #}
{# 
   - {{.........}} permet l’affichage d’une expression.
   - {% .... %} permet d’exécuter une action (une boucle, une condition...)
   - {#.......#}
    {# permet décrire des commentaires #}
    
    {#
    Ceci est un commentaire sur
    plusieurs lignes en Twig.
    Il ne sera pas affiché dans le HTML généré.
    #}


    {# 
    pour déclarer une variable {%set}
    
    
    
     #}
</div>
{% endblock %}
